
/* システムを考慮したモードごとのスタイル */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #121212;
    color: #e0e0e0;
    transition: all 0.5s 0s ease;
  }
}

@media (prefers-color-scheme: light) {
  body {
    background-color: #ffffff;
    color: #000000;
    transition: all 0.5s 0s ease;
  }
}

/* テーマごとのスタイル */
[data-theme='dark'] body {
  color: #fff;
  background: #000;
}

[data-theme='light'] body {
  background-color: #ffffff;
  color: #000000;
}

/* ボタンのスタイルを初期化 */
button {
  padding: 0;
  border: none;
  outline: none;
  font: inherit;
  color: inherit;
  background: none
}