/* システムを考慮したモードごとのスタイル */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #121212;
    color: #e0e0e0;
  }
}

@media (prefers-color-scheme: light) {
  body {
    background-color: #ffffff;
    color: #000000;
  }
}

/* テーマごとのスタイル */
[data-theme='dark'] body {
  color: #fff;
  background: #000;
}

[data-theme='light'] body {
  background-color: #ffffff;
  color: #000000;
}